<html>
    <head>
        <title>Time Frame</title>
    </head>
    <body>

        <header>
            <div>
                <span class="title">
                <a href="{{ url_for('home') }}">
                    Make My Day
                </a>
                </span>
            </div>
        </header>

        <section>


            Start Time: <select name="time_frame">
              <option value="{{time_start}}">{{time_start}}</option>
            </select>  

            End Time: <select name="time_frame">
              <option value="{{time_end}}">{{time_end}}</option>
            </select>     

        </section>

    </body>
</html>
