<html>
    <head>
        <title>Time Frame</title>
    </head>
    <body>

        <header>
            <div>
                <span class="title">
                <a href="{{ url_for('home') }}">
                    Make My Day
                </a>
                </span>
            </div>
        </header>

        <section class="main">
            <table class="tableoption">
                <tr>
                    <td><a href="{{ url_for('time_frame') }}">Make My Day</a></td>
                </tr>
            </table>
        </section>

    </body>
</html>
